<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPfMvC9xB1Wu8_WhKxfOAY5yM6wfCckL0</string>
	<key>GCM_SENDER_ID</key>
	<string>973905694600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcaninestudios.coreframework</string>
	<key>PROJECT_ID</key>
	<string>office-learning-82aa7</string>
	<key>STORAGE_BUCKET</key>
	<string>office-learning-82aa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973905694600:ios:f281bffccb396fb953343d</string>
	<key>DATABASE_URL</key>
	<string>https://office-learning-82aa7.firebaseio.com</string>
</dict>
</plist>